<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="greetings" label="COM_OEVENTS_CONFIG_LABEL" description="COM_OEVENTS_CONFIG_DESC">
		<field name="eventLevel" label="Event levels" type="list" default="4" multiple="true">
            <option value="1">A</option>
            <option value="2">B</option>
            <option value="3">C</option>
            <option value="4">D</option>
            <option value="5">International</option>
        </field>

        <field name="postcode" label="Central postcode" type="text" default="S62 6AE" />

        <field name="radius" label="Search radius (miles)" type="number" default="30" min="1" max="500" step="1" />
        
        <field name="lookAhead" label="Look ahead (months)" type="number" default="6" min="1" max="24" step="1" description="Number of months to look ahead for events" />

        <field name="eventNameLimit" label="Max event name length (characters)" type="number" default="42" min="5" max="99" step="1" description="The number of characters to limit the event name to" />

        <field name='excludedClub' label='Excluded Club' type='text' description='Note that only 1 club is currently supported' default='SYO' />
	</fieldset>
</config>