<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="main" label="COM_OEVENTS_CONFIG_LABEL" description="COM_OEVENTS_CONFIG_DESC">
		<field name="eventLevel" label="COM_OEVENTS_CONFIG_FIELD_EVENT_LEVELS_LABEL" type="list" default="4" multiple="true">
			<option value="1">COM_OEVENTS_EVENT_LEVEL_1</option>
			<option value="2">COM_OEVENTS_EVENT_LEVEL_2</option>
			<option value="3">COM_OEVENTS_EVENT_LEVEL_3</option>
			<option value="4">COM_OEVENTS_EVENT_LEVEL_4</option>
			<option value="5">COM_OEVENTS_EVENT_LEVEL_5</option>
		</field>

		<field name="postcode" label="COM_OEVENTS_CONFIG_FIELD_POSTCODE_LABEL" type="text" default="S62 6AE" />

		<field name="radius" label="COM_OEVENTS_CONFIG_FIELD_RADIUS_LABEL" type="number" default="30" min="1" max="500" step="1" />
		
		<field name="lookAhead" label="COM_OEVENTS_CONFIG_FIELD_LOOK_AHEAD_LABEL" type="number" default="6" min="1" max="24" step="1" description="COM_OEVENTS_CONFIG_FIELD_LOOK_AHEAD_DESCRIPTION" />

		<field name="eventNameLimit" label="COM_OEVENTS_CONFIG_FIELD_MAX_EVENT_NAME_LENGTH_LABEL" type="number" default="42" min="5" max="99" step="1" description="COM_OEVENTS_CONFIG_FIELD_MAX_EVENT_NAME_LENGTH_DESCRIPTION" />

		<field name='excludedClub' label='COM_OEVENTS_CONFIG_FIELD_EXCLUDED_CLUB_LABEL' type='text' description='COM_OEVENTS_CONFIG_FIELD_EXCLUDED_CLUB_DESCRIPTION' default='SYO' />

		<field name='dateFormat' label='COM_OEVENTS_CONFIG_FIELD_DATE_FORMAT_LABEL' type='text' description='COM_OEVENTS_CONFIG_FIELD_DATE_FORMAT_DESCRIPTION' />
	</fieldset>
</config>